
tests/in/input1.txt
tests/in/input2.txt
tests/in/input3.out
tests/in/input3.txt
tests/in/input4.txt
tests/in/input5.txt
tests/logs/input1.log
tests/logs/input2.log
tests/out/input1.out
tests/out/input2.out
tests/ref/input1.ref
tests/ref/input2.ref
tests/ref/input3.ref
tests/ref/input4.ref
tests/ref/input5.ref
input1.out
input1.txt
input2.out
input2.txt
pool.txt
main
serial
checker.py
.vscode/tasks.json
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
